.ribbon {
  width: 35px;
  position: absolute;
  top: 0px;
  height: 75px;
  right: 50px;
  transition: 1.5s;
}

.ribbon:hover {
  height: 100px;
  transition: 2s;
}

.logo {
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 40px;
	width: 275px;
	display: inline-block;
	float: left;
}

.welcome {

	margin-right: auto;
	margin-top: auto;
	margin-left: 110px;
}

.nav {
	padding-top: 50px;
}

a:link {
	text-decoration: none;
	padding-right: 100px;
	padding-left: 60px;
	font-family: "Courier New", Courier, monospace;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
	color: #e8595e;
}

.form {
	padding-top: 50px;
	padding-left: 100px;
	margin: 0 auto;
	margin-left: 200px;
}

.input {
	border: none;
	border-bottom: 2px solid black;
	width: 500px;
	padding: 12px 20px;
}

.button {
	background-color: #e8595e;
	border: none;
	color: white;
	padding: 10px 25px;
}

.containpics {
	width: auto;
	height: auto;
	padding-top: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.myPics {
	height: 250px;
	padding: 2px;
}

.collection-imgs {
	height: 300px;
	margin-top:50px;
}

.savedImg {
	height: 250px;
}
